<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Francis Lalanne</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

  </head>
  <body>
    <header>
      <nav class="navbar">
        <h1><a href="#">Avatar</a></h1>
        <span class="perso">
          <p>Aang</p>
          <%= image_tag "aang.jpg", id: "aang" %>
          <a href="#"class="bout">Se déconnecter</a>
        </span>
      </nav>
    </header>
    <div class="main">
      <ul class="tabs">

        <li class="tab">
            <input type="radio" name="tabs" checked="checked" id="tab1" />
            <label for="tab1">I</label>
            <div id="tab-content1" class="content">
              <div class="chapter">
                <h2>Chapitre I</h2>
                <p>Un siècle avant le début de la série, Aang, un jeune maître de l'air âgé de 12 ans vit parmi les siens, les nomades du temple de l'air austral.
                   Sa vie bascule lorsque les moines du temple lui apprennent qu'il est le nouvel Avatar. Généralement, l'Avatar est mis au courant de sa véritable identité à l'âge de 16 ans. Toutefois, les moines pressentent que la guerre menace. Jugeant que l'Avatar sera très certainement bientôt appelé à maintenir l'équilibre entre les quatre Éléments, ils décident de commencer le plus tôt possible son enseignement des maîtrises élémentaires, essentiel pour remplir sa tâche. Gyatso, l'un des plus vénérables moines, est chargé d'être le précepteur de Aang. Cependant, ses pairs pensent qu'il privilégie trop les moments de détente et qu'il est trop proche du garçon pour être un bon professeur. Ils décident de les séparer en envoyant l'Avatar au temple de l'air oriental, où il pourra parfaire sa formation.</p>
                <a href="http://www.scifi-universe.com/encyclopedie/medias/19034/avatar-le-dernier-maitre-de-l-air/episodes" target="_blank">Voir l'épisode</a>
              </div>
            </div>
        </li>

        <li class="tab">
          <input type="radio" name="tabs" id="tab2" />
          <label for="tab2">II</label>
          <div id="tab-content2" class="content">
            <div class="chapter">
              <h2>Chapitre II</h2>
              <p>Hélas, Aang découvre les projets des moines. Désorienté, apeuré, et accablé par ces évènements récents et ses nouvelles responsabilités en tant qu'Avatar, il s'enfuit du temple sur son bison volant, Appa. Tandis qu'il vole au-dessus des eaux glacées de l'océan Austral, une soudaine tempête provoque la chute d'Appa dans la mer. Aang entre inconsciemment dans l'état d'Avatar. Il crée alors une bulle qu'il congèle pour protéger Appa et lui-même. Toutefois, la tempête transporte la bulle au voisinage du pôle Sud, empêchant son dégel, maintenant les deux compagnons dans un état de biostase (vie suspendue ou mort apparente).
              </p>
              <a href="http://www.scifi-universe.com/encyclopedie/medias/19034/avatar-le-dernier-maitre-de-l-air/episodes" target="_blank">Voir l'épisode</a>
            </div>
           </div>
        </li>

         <li class="tab">
          <input type="radio" name="tabs" id="tab3" />
          <label for="tab3">III</label>
          <div id="tab-content3" class="content">
            <div class="chapter">
              <h2>Chapitre III</h2>
              <p>La série commence cent ans plus tard. La nation du feu, profitant de l'apparente disparition de l'Avatar, a acquis une puissance sans précédent et menace de remporter la guerre qu'elle a déclenchée. Les tribus de l'eau vivent des temps difficiles : les hommes de la tribu du pôle Sud sont partis prêter main-forte au royaume de la terre; et la tribu du pôle Nord, quasiment intacte, se cloître derrière les murs de glace de sa cité, attendant une lutte qui semble inévitable10. Le vaste royaume de la terre est devenu, plus que jamais, le symbole de la résistance à la nation du feu. Il semble être le seul à pouvoir tenir tête aux Fils du feu. Ceux-ci ne cessent pourtant pas de remporter de nouvelles victoires et, au sein des rangs des défenseurs de la liberté, l'espoir d'une victoire s'amenuise un peu plus chaque jour.
              </p>
              <a href="http://www.scifi-universe.com/encyclopedie/medias/19034/avatar-le-dernier-maitre-de-l-air/episodes" target="_blank">Voir l'épisode</a>
            </div>
          </div>
        </li>

        <li class="tab">
          <input type="radio" name="tabs" id="tab4" />
          <label for="tab4">IV</label>
          <div id="tab-content4" class="content">
            <div class="chapter">
              <h2>Chapitre IV</h2>
              <p>Deux adolescents de la tribu de l'eau du pôle Sud — Katara, une maître de l'eau inexpérimentée, et son frère Sokka, un jeune guerrier, devenu, depuis le départ de tous les hommes, le gardien de la tribu — découvrent et libèrent Aang et Appa de leur iceberg. Aang apprend assez tôt et à sa plus grande stupéfaction que, durant ses cent ans d'absence, la guerre a ravagé le monde. L'année même de sa disparition, l'ancien Seigneur du feu Sozin a tiré un grand avantage de l'absence de l'Avatar et du passage d'une comète. Ces deux évènements lui ont permis de lancer une lutte contre les trois autres peuples11. Pour l'infini désarroi de Aang, la première manœuvre tactique de la nation du feu a été un assaut génocidaire sur les nomades de l'air. Les temples de l'air furent assaillis et tous les Fils de l'air furent massacrés. Le but de cette attaque était d'empêcher que l'Avatar ne se réincarne, s'il ne l'avait pas encore fait, dans un nomade, comme il aurait dû l'être, sa dernière forme étant celle d'un maître du feu. Ce massacre a fait de Aang l'ultime maître de l'air encore en vie et connu à ce jour.
              </p>
              <a href="http://www.scifi-universe.com/encyclopedie/medias/19034/avatar-le-dernier-maitre-de-l-air/episodes" target="_blank">Voir l'épisode</a>
            </div>
          </div>
        </li>

    </ul>
  </div>

  <div class="cards">
    <div class="card">
      <h2>Sokka</h2>
      <%= image_tag "sokka.jpg" %>
    </div>
    <div class="card">
      <h2>Katara</h2>

    </div>
    <div class="card">
      <h2>Pakku</h2>
      <%= image_tag "Pakku.png" %>
    </div>
    <div class="card">
      <h2>Hakoda</h2>
      <%= image_tag "Hkoda.png" %>
    </div>
  </div>

  <footer>
    <nav class="footer-nav">
      <p>Réseaux sociaux :</p>
      <ul>
        <li><a href="#"><i class="fab fa-facebook"></i>  Facebook</a></li>
        <li><a href="#"><i class="fab fa-twitter"></i>  Twitter</a></li>
        <li><a href="#"><i class="fab fa-instagram"></i>  Instagram</a></li>
      </ul>
    </nav>
  </footer>

  </body>
</html>
